@charset "UTF-8";

body {
  font: 11px Arial, Tahoma, sans-serif;
  text-align: center;
  position: relative;
}
#main-content-area {
  border: 1px solid #dddddd;
  margin: 30px auto;
  padding: 20px;
  text-align: left;
  width: 75%;
  float: right;
}

img { 
width: 300px;
height: 300px;
border-style:solid;
border-width: 2px;
border-color: rgb(51, 49, 49);
border-radius: 2%;
}

#sidebar {
  font: 10px Arial, Tahoma, sans-serif;
  float: left;
  width: 20%;
  margin: 30px auto;
  border-color: #888888;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
}

.content {
  margin-top: 50px;
  padding: 15px;
  border-color: #dddddd;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  background-color: #efefef;
  width: 80%;
  
}

#titel{
  margin: 7px 15px 3px;
  font-size: 500%;

}


.inner-content {
  color: #000000;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.sidebar h3 {
  height: 10px;
  margin: 0 10px;
  width: 120px;
}

p {
  padding: 0 15px 5px;
  text-align: justify;
  font-size: 125%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight:600;
}

h1{
  font-size: 350%;
  font-family: 'Times New Roman', Times, serif;

}
