#Velkommen {
    text-align: center;
    font-size: 300%;
    font-weight: 700;
    color: whitesmoke;    
    border-bottom: 5px whitesmoke;
    border-style:ridge;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

#box1 {
    width: 50%; 
    border-style: solid;
    border-color: whitesmoke;
    border-width: 5px;
    padding: 25px;
    background-color: #1c1c1d;
    font-size: 200%;
    color: whitesmoke;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
}

#box2 {
    width: 50%; 
    border-style: solid;
    border-color: whitesmoke;
    border-width: 5px;
    padding: 25px;
    background-color: #1c1c1d;
    font-size: 200%;
    color: whitesmoke;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
}

#gif {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color:#08A04B;
}

#nwts {
    height: 250px;
    width: 250px;
    border-radius: 5px;
    margin-left: 80px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    box-shadow: 6px 6px 2px #1c1c1d;
}

#box4 {
    color: white;
    font-size: 100%;
    text-align: center;
}

#box5 {
    color: gray;
    font-size: 150%;
    margin-top: 80px;
    margin-left: 80px;

}

#box6 {
    width: 450px;
    border-style: solid;
    border-width: 2px;
    margin-top: 10px;
    margin-left: 80px;
    color: white;
    font-size: 200%;
}

#nextpage {
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    color: whitesmoke;
    border-color: #08A04B;
    font-size: 150%;
    text-align: center;
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    background-color: #1c1c1d;
    width: 30%;
    float: right;
}

#lastpage {
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    color: whitesmoke;
    border-color: #08A04B;
    font-size: 150%;
    text-align: center;
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    background-color: #1c1c1d;
    width: 30%;
    float: left;
    display: block;
}

#homepage {
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    color: whitesmoke;
    border-color: #08A04B;
    font-size: 150%;
    text-align: center;
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    background-color: #1c1c1d;
    width: 30%;
    float: left;
}

#homepage2 {
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    color: whitesmoke;
    border-color: #08A04B;
    font-size: 150%;
    text-align: center;
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    background-color: #1c1c1d;
    width: 30%;
    float: right;
}